.section-main {
    background: rgb(255, 239, 94); /* Old Browsers */
    background: -webkit-linear-gradient(top left,rgb(255, 239, 94),rgb(240, 55, 165)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top left,rgb(255, 239, 94),rgb(240, 55, 165)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top left,rgb(255, 239, 94),rgb(240, 55, 165)); /*Fx 3.6-15*/
    background: linear-gradient(top left, rgb(255, 239, 94), rgb(240, 55, 165)); /*Standard*/
    text-align: center;
    min-height: 100vh;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    margin-bottom: 50px;
}

.section-main-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-logo-section-main {
    text-align: center;
    margin-top: 30%;
    font-size: 100px;
    color: white;
}

.second-line-section-main {
    font-size: 28px;
    color: black;
}

.link-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-blocks a {
    margin: 20px;
}

.first-link {
    font-size: 20px;
    font-weight: bold;
    background-color: #1DB954;
    padding: 8px 18px;
    border-radius: 6px;
    color: white;
}

.first-link:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 1);
}

.second-link {
    font-size: 20px;
    padding: 6px 12px;
    color: white;
    border: 2px solid white;
    transition: .2s;
    border-radius: 6px;
}

.second-link:hover {
    transform: scale(1.1);
}

.web-icon {
    margin-bottom: -20px;
    margin-right: 20px;
    width: 110px;
    color: white;
}